@import "tailwindcss";

:root {
  --background: #fdf8f6;
  --foreground: #43302b;
  --sidebar: #ffffff;
  --card: #ffffff;
  --accent: #846358;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar);
  --color-card: var(--card);
  --color-accent: var(--accent);
  
  --color-bakery-50: #fdf8f6;
  --color-bakery-100: #f2e8e5;
  --color-bakery-200: #eaddd7;
  --color-bakery-300: #e0cec7;
  --color-bakery-400: #d2bab0;
  --color-bakery-500: #bfa094;
  --color-bakery-600: #a18072;
  --color-bakery-700: #977669;
  --color-bakery-800: #846358;
  --color-bakery-900: #43302b;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
